
h1 {
  text-align: center;
}

.contain {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (min-width: 992px) {
  .contain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-evenly;
    flex-direction: row;
  }
}

.rec-head {
  align-items: center;
}

.rec-scores {
  border: 1px solid black;
  width: 100%;
}

.score-details {
  margin: 0 auto;
}

.score-details li {
  padding: 10px 0;
}

.score-details:nth-child(even) {
  background-color: rgb(156, 156, 156);
}

button[type="button"] {
  height: 20%;
  margin-left: 10px;
}

ul {
  list-style: none;
}

@media screen and (min-width: 992px) {
  form {
    width: 40%;
  }
}

form {
  flex-direction: column;
  gap: 10px;
}

form input[type="text"] {
  padding: 5px;
}

form button[type="submit"] {
  align-self: flex-end;
  padding: 5px;
}

.d-flex {
  display: flex;
}
